{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Inventario {% endblock title %}
{% block extrastyle %}

{% endblock extrastyle %}
{% block bodyclass %} hold-transition sidebar-mini {% endblock bodyclass %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Dispositivos</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item active">Dispositivos</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="container text-center">
          <div class="card-deck">
            
            {% for dispositivo in object_list %}
            <div class="col-sm-4 p-3">
              <div class="card" style="width: 18rem;">
                {% if dispositivo.imagen_dispositivo %}
                  <img src="{{ dispositivo.imagen_dispositivo.url }}" width="150" height="150" class="card-img-top img-size-150" alt="{{ dispositivo.marca }}">
                {% else %}
                  <img src="{% static 'dist/img/default-150x150.png' %}" width="150" height="150" class="card-img-top" alt="Default Image">
                {% endif %}
                
                <div class="card-body">
                    <h4 class="card-title">{{ dispositivo.marca }}</h4>
                    <h6>{{ dispositivo.fecha_caducidad_inventario | date:'d M Y'}}</h6>
                    <p class="card-text">{{ dispositivo.num_serie | truncatechars:70 }}</p>
                    
                </div>
                <div class="card-footer">
                  <a href="{% url 'inventario:detalle_disp' dispositivo.pk %}" class="btn btn-primary">Ver</a>
                </div>
              </div>
            </div>
                {% if forloop.counter|divisibleby:3 %}
                  <div class="w-80 d-none d-md-block"></div>
                 
                {% endif %}
              {% endfor %}
              
         </div>
      </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock content %}
{% block extra_scripts %}

{% endblock extra_scripts %}