{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Inventario {% endblock title %}
{% block extrastyle %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock extrastyle %}
{% block bodyclass %} hold-transition sidebar-mini {% endblock bodyclass %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Dispositivo</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item active">Dispositivo</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Listado de Dispositivos</h3>
                <div>
               
                <span class= "float-right">
                <a  class="btn btn-app bg-primary btn-sm" title="add-inven" href="{% url 'inventario:crear_disp' %}">
                  <i class="fa fa-user-plus"></i>
                  Agregar
                </a>
                </span>
                <span class="float-left m-3">
                  {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
                 </span>
              </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="dispositivoTabla" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Num serie</th>
                    <th >Tipo</th>
                    <th >IMEI</th>
                    <th >Estado</th>
                    <th>Disponible</th>
                    <th >Fecha_registro</th>
                    <th >Fecha compra</th>
                    <th >Fecha caducidad</th>
                    <th >Proveedor</th>
                    <th >Asignada a</th>
                    <th >Gerencia</th>
                    <th >Acción</th>
                  </tr>
                  </thead>   
                  <tbody>
                    {% for dispositivo in object_list %}
                    <tr>
                      <td>{{ dispositivo.marca}}{{dispositivo.inventario.disponible}}</td>
                      <td>{{ dispositivo.modelo}}</td>
                      <td>{{ dispositivo.num_serie}}</td>
                      <td>{{ dispositivo.tipo}}</td>
                      <td>{{ dispositivo.imei |default_if_none:"-"}}</td>
                      <td>{{ dispositivo.estado}}</td>
                      <td>{% if dispositivo.disponible_inventario %}{{ 'Si' }}{% else %}{{ 'No'}}{% endif %}</td>
                      <td>{{ dispositivo.fecha_registro |date:"SHORT_DATE_FORMAT"}}</td>
                      <td>{{ dispositivo.fecha_compra |date:"SHORT_DATE_FORMAT"}}</td>
                      <td>{{ dispositivo.fecha_caducidad |date:"SHORT_DATE_FORMAT"}}</td>
                      <td>{{ dispositivo.proveedor.nombre}}</td>
                      <td>{{ dispositivo.persona_nombre_inventario }} {{ dispositivo.persona_apellido_inventario }}</td>
                      <td>{{ dispositivo.gerencia_inventario_nombre}}</td>
                      <td class="text-sm-right">
                        <a class="btn btn-info btn-sm" href="{% url 'inventario:editar_disp' dispositivo.pk %}">
                            <i class="fas fa-pencil-alt">
                            </i>
                        </a>
                        <a class="btn btn-danger btn-sm" href="{% url 'inventario:eliminar_disp' dispositivo.pk %}">
                            <i class="fas fa-trash">
                            </i>
                            </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock content %}
{% block extra_scripts %}
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $("#dispositivoTabla").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      {% comment %} "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"] {% endcomment %}
    }).buttons().container().appendTo('#dispositivoTabla_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock extra_scripts %}