{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Crear Elemento. {% endblock title %}

{% block bodyclass %} hold-transition sidebar-mini {% endblock bodyclass %}
{% block extrastyle %}
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.css' %}">
<link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
    
{% endblock extrastyle %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row justify-content-md-center mb-2">
          <div class="col-sm-6">
            <h1>Detalle Dispositivo</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              {% comment %} <li class="breadcrumb-item"><a href="{% url 'personas:index' %}">Home</a></li> {% endcomment %}
              <li class="breadcrumb-item active">Detalle Dispositivo</li>
              <li class="breadcrumb-item"><a href="{% url 'inventario:index_disp' %}">Volver</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row justify-content-md-center">
          <!-- left column -->
          <div class="col-md-8">
            <!-- Horizontal Form -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Dispositivo {{object.marca}}</h3>
              </div>
              <!-- /.card-header -->
              <!-- Default box -->
      
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <h3 class="d-inline-block d-sm-none">Dispositivo {{object.marca}}</h3>
                      <div class="col-12">
                        <h3> {{object.tipo_dispositivo.nombre}}</h3>
                        {% if dispositivo.imagen_dispositivo %}
                            <img src="{{ dispositivo.imagen_dispositivo.url }}" alt="Imagen del Dispositivo" width="100%">
                        {% else %}
                            <img src="{% static 'dist/img/default-150x150.png' %}" alt="Imagen por defecto" width="100%">
                        {% endif %}
                      </div>
                      <div class="row mt-4">
                        <nav class="w-100">
                          <div class="nav nav-tabs" id="product-tab" role="tablist">
                            <a class="nav-item nav-link active" id="factura-tab" data-toggle="tab" href="#factura" role="tab" aria-controls="factura" aria-selected="true">Factura</a>
                            <a class="nav-item nav-link" id="observacion_dispo-tab" data-toggle="tab" href="#observacion_dispo" role="tab" aria-controls="observacion_dispo" aria-selected="false">Observación</a>
                            {% if object.persona_asignada %}
                            <a class="nav-item nav-link" id="persona-asignada-tab" data-toggle="tab" href="#persona-asignada" role="tab" aria-controls="persona-asignada" aria-selected="false">Persona</a>
                            {% endif %}
                          </div>
                        </nav>
                      </div>
                      <div class="col-12 ">
                        <div class="tab-content" id="nav-tabContent">
                          <div class="tab-pane fade show active" id="factura" role="tabpanel" aria-labelledby="factura-tab">
                            {{ object.factura_inventario }}
                            <table class="table">
                              <tr>                                  
                                  <th>Fecha registro</th><td>{{ object.fecha_registro_factura_inventario|date:"SHORT_DATE_FORMAT"}} </td>
                              </tr>
                              <tr>
                                  <th>Fecha Factura</th><td>{{ object.fecha_factura_inventario|date:"SHORT_DATE_FORMAT" }}</td>
                              </tr>
                              <tr>
                                  <th>Proveedor</th><td>{{ object.proveedor_factura_inventario }}</td>
                              </tr>
                              
                              <tr>
                                  <th>Orden de compra</th><td>{{ object.orden_de_compra_inventario }}</td>
                              </tr>
                              <tr>
                                <th>Tiempo de vida</th><td>{{object.tiempo_de_vida_inventario}}</td>
                            </tr>
                            </table>
                            </div>
                          <div class="tab-pane fade" id="observacion_dispo" role="tabpanel" aria-labelledby="observacion_dispo-tab"> {{object.observacion_inventario}} </div>
                          {% if object.persona_asignada %}
                          
                          <div class="tab-pane fade" id="persona-asignada" role="tabpanel" aria-labelledby="persona-asignada-tab">
                            <table class="table">
                            <tr>                                  
                                <th>Nombre</th><td>{{ object.persona_asignada.nombre}} </td>
                            </tr>
                            <tr>
                                <th>Apellido</th><td>{{ object.persona_asignada.apellido }}</td>
                            </tr>
                            <tr>
                                <th>Gerencia</th><td>{{ object.persona_asignada.gerencia.gerencia }}</td>
                            </tr>
                            
                          </table>  
                        </div>
                        {% endif %}
                        </div>
                        
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <h3 class="my-3">Modelo:</h3>
                      <p> {{ object.modelo}} </p>
                      <h3 class="my-3">Número serie:</h3>
                      <p>{{object.num_serie}} </p>
                      <hr>
                      <h4>Disponibilidad</h4>
                      <div class="bg-{% if object.disponible_inventario %}{{ 'green' }}{% else %}{{ 'red'}}{% endif %} py-2 px-3 mt-4">
                        <h2 class="mb-0">
                          {% if object.disponible_inventario %}{{ 'Si' }}{% else %}{{ 'No'}}{% endif %}
                        </h2>
                        <h4 class="mt-0">
                          <small><td>Valor {{object.valor_inventario}}</td></small>
                         
                        </h4>
                      </div>

                      <div class="mt-4">
                        <div class="btn btn-primary btn-lg btn-flat">
                          <i class="fas fa-cart-plus fa-lg mr-2"></i>
                          Add to Cart
                        </div>

                        <div class="btn btn-default btn-lg btn-flat">
                          <i class="fas fa-heart fa-lg mr-2"></i>
                          {{object.nombre_inventario}}

                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->          
              
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-info">Aceptar</button>
                  <button onclick="javascript:history.back();" class="btn btn-default float-right">Cancelar</button>
                </div>
                <!-- /.card-footer -->
              </form>
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (left) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  {% endblock content %}

  {% block extra_scripts %}
    <!-- Page specific script -->
  <script src="{% static 'plugins/select2/js/select2.js' %}"></script>
  <script src="{% static 'plugins/moment/moment-with-locales.min.js' %}"></script>
  <script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
  <!-- dropzonejs -->
  <script src="{% static 'plugins/dropzone/min/dropzone.min.js' %}"></script>
  <script>
    $('.select2').select2({
      })
    $('.datepicker').datetimepicker({
      format: 'DD/MM/YYYY',  
      timepicker:false,
      autoclose: true
      }); 
      Dropzone.options.myDropzone = {
        paramName: "imagen", // el nombre de nuestro input
        autoProcessQueue : true,
        parallelUploads: 1,

        init: function() {
            this.on("success", function(file, responseText) {
                // evento lanzado al terminar de subir las imágenes en cola
                console.log(responseText);
            });
        }
    };
  </script>
  {% endblock extra_scripts %}