{% extends 'layouts/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Crear Software. {% endblock title %}

{% block bodyclass %} hold-transition sidebar-mini {% endblock bodyclass %}
{% block extrastyle %}
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.css' %}">
<link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
{% endblock extrastyle %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-6">
            <h1>Ingresar Software al sistema.</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              {% comment %} <li class="breadcrumb-item"><a href="{% url 'personas:index' %}">Home</a></li> {% endcomment %}
              <li class="breadcrumb-item active">Ingresar Software</li>
              <li class="breadcrumb-item"><a href="{% url 'inventario:index_soft' %}">Volver</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Ingreso Software</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form  action="" method="post"  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-row">
                      {% for field in form.visible_fields %}
                      <div class="col-md-4 mb-3">
                          <label for="{{ field.id_for_label }}" class="col-sm-6 col-form-label">{{ field.label  }}</label>
                          {{ field|add_class:'form-control-sm'  }}
                          {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                          {% endfor %}
                      </div>
                      {% endfor %}
                    </div>
                    
                        {{ inventario_formset.management_form }}
                        {% for form in inventario_formset %}
                        <div class="form-row">
                          {% for field in form %}
                          <div class="col-md-4 mb-3">
                            {% if  field.label != "Id" %}
                            <label for="{{ field.id_for_label }}" class="col-sm-6 col-form-label">{{ field.label  }}</label>
                            {{ field|add_class:'form-control-sm'  }}
                            {% for error in field.errors %}
                              <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                          </div>
                          {% endfor %}
                    
                        {% endfor %}
                     
                        
                      </div>

                      
               
               
             
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-info">Aceptar</button>
                  <button onclick="javascript:history.back();" class="btn btn-default float-right">Cancelar</button>
                </div>
                <!-- /.card-footer -->
              </div>
                
              </form>
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (left) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  {% endblock content %}

  {% block extra_scripts %}
     <!-- Page specific script -->
  <script src="{% static 'plugins/select2/js/select2.js' %}"></script>
  <script src="{% static 'plugins/moment/moment-with-locales.min.js' %}"></script>
  <script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
  <script>
    $('.select2').select2({
      })
    $('.datepicker').datetimepicker({
      format: 'DD/MM/YYYY'
    }); 
  </script>
  {% endblock extra_scripts %}