{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Listado Licencias {% endblock title %}
{% block extrastyle %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock extrastyle %}
{% block bodyclass %} hold-transition sidebar-mini {% endblock bodyclass %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Licencias de CNX.</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'licencias:index' %}">Inicio</a></li>
              <li class="breadcrumb-item active">Licencia</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Listado de Licencias</h3>
                <div class="clearfix">
                  {% include 'includes/messages.html' %}
                 
                <span class= "float-right">
                <a  class="btn btn-app bg-primary btn-sm" title="add-licencia" href="{% url 'licencias:crear' %}">
                  <i class="fa fa-user-plus"></i>
                  Agregar
                </a>
                </span>
              </div>
            </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="licenciasTabla" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Número de identificación</th>
                    <th>Fecha de Activación</th>
                    <th>Fecha de Vencimiento</th>
                    <th>Software</th>
                    <th>Tipo</th>
                    <th>Estado</th>
                    <th >Acción</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for licencia in object_list %}
                    <tr>
                      <td>{{ licencia.nombre}}</td>
                      <td>{{ licencia.numero_identificacion}}</td>
                      <td>{{ licencia.fecha_activacion}}</td>
                      <td>{{ licencia.fecha_vencimiento|default:"" }}</td>
                      <td>{{ licencia.software.marca}} {{ licencia.software.version}}</td>
                      <td>{{licencia.tipo_licencia.tipo }}</td>
                      <td>{{ licencia.estado.estado}}</td>
                      
                      <td class="text-sm-right">
                        <a class="btn btn-info btn-sm" href="{% url 'licencias:editar' licencia.pk %}">
                            <i class="fas fa-pencil-alt">
                            </i>
                        </a>
                        <a class="btn btn-danger btn-sm" href="{% url 'licencias:eliminar' licencia.pk %}">
                            <i class="fas fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock content %}
{% block extra_scripts %}
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $("#licenciasTabla").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": [ "excel", "pdf", "print"]
    }).buttons().container().appendTo('#licenciasTabla_wrapper .col-md-6:eq(0)');
    
  });
</script>
{% endblock extra_scripts %}